<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
</head>
<body>
    <div id="app">
        <Counter v-for="c in 2"></Counter>
    </div>

    <hr>

    <div id="app2">
        <Counter v-for="c in 1"></Counter>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
s
        let component = {
            template: `
                <div style="padding: 10px; border: 1px solid #000;">
                    <h2>Counter {{ counter }}</h2>

                    <button @click="add">Rise</button>
                </div>
            `,
            data() {
                return {
                    counter: 0
                }
            },
            methods: {
                add() {
                    this.counter++;
                }
            }
        };

        new Vue({
            el: '#app',
            components: {
                'Counter': component
            }
        });

        new Vue({
            el: '#app2'
        });
    </script>
</body>
</html>